@font-face {
  font-family: "Lexend Deca", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap")
    format("truetype");
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: "Big Shoulders Display", cursive;
  src: url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap")
    format("truetype");
  font-display: swap;
  font-weight: 700;
}
